<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="header text-center mt-4">
                <h1 style="font-size:60px;"> 404 </h1>
                <p>OOPS, Sorry there's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
