@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://turntabl.io" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <br /><hr />
    <div class="row">
        <div class="col text-center">
            <footer>
                <p>Copyright &copy;  @DateTime.Now.Year - Turntabl Role Service Application</p>
            </footer>
        </div>
    </div>
</div>
