@page "/"

<div class="row">
    <div class="col text-center">
        <br /><br />
        <h1>Hello, </h1><br /><br />
        <h2>Welcome to Turntabl Role Service Application </h2>

    </div>
    </div>

