@page "/employees"

@using Turntablio.RoleService.Data
@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h2>Employee Information</h2>
<hr />

<NavLink class="nav-link" href="/employeeForm">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>
<br />

@if (employees == null)
{
    <h4 class="text-center"><em>Loading...</em></h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        
        <tbody>
            @if (employees.Count == 0)
            {   <br />
                <tr>
                    <td class="lead text-center font-italic alert-danger" colspan="3">No record found</td>
                </tr>
            }
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.EmployeeFirstName</td>
                    <td>@employee.EmployeeLastName</td>
                    <td>
                        <a class="nav-link" href="employeeDetail/@employee.EmployeeId">
                            <span class="oi oi-list-rich"></span> View
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="editEmployee/@employee.EmployeeId">
                            <span class="oi oi-pencil"></span> Edit
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="deleteEmployee/@employee.EmployeeId">
                            <span class="oi oi-trash"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    List<EmployeeRoleViewModel> employees;

    protected override async Task OnInitializedAsync()
    {
            employees = await Task.Run(() => employeeService.GetEmployees());
    }
}
