@page "/employeeForm"
@using Turntablio.RoleService.Data
@using Turntablio.RoleService.Pages.ViewModel
@using Turntablio.RoleService.Data.Model
@using Turntablio.RoleService.Pages.Employee

@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h2>Add New Employee</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@objEmp" OnValidSubmit="@InsertEmployee">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <form>
                <div class="form-group">
                    <label for="employeefname" class="control-label">First Name</label>
                    <InputText id="employeefname" class="form-control" @bind-Value="objEmp.EmployeeFirstName" />
                </div>
                <div class="form-group">
                    <label for="employeelname" class="control-label">Last Name</label>
                    <InputText id="employeefname" class="form-control" @bind-Value="objEmp.EmployeeLastName" />
                </div>
                <div class="form-group">
                    <label asp-for="employeeemail" class="control-label">Email</label>
                    <InputText id="employeeemail" class="form-control" @bind-Value="objEmp.EmployeeEmail" />
                </div>
                <div class="form-group">
                    <label asp-for="employeeaddress" class="control-label">Address</label>
                    <InputText id="employeeaddress" class="form-control" @bind-Value="objEmp.EmployeeAddress" />
                </div>
                <br />

                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@InsertEmployee" value="Save">
                    @*<button type="submit" class="btn btn-primary">Add</button>*@
                    <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel">
                </div>

            </form>
        </EditForm>
    </div>
</div>


@code {

    Employee objEmp = new Employee();

    protected void InsertEmployee()
    {
        employeeService.AddEmployee(objEmp);
        navigationManager.NavigateTo("employees");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("employees");

    }

}
